body 
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}
input
{
	height: 20px;
	margin: 0;
	font-size: 16px;
	display: block;
	box-sizing: content-box;
	float: left;
	margin: 5px;
	padding: 0 5px;
	width: 150px; 
}
form
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
label
{
	font-size: 20px;
}
h1
{
	text-align: center;
}
.openForm
{
	margin: 0;
}
.openBtn
{
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
.openBtn:hover
{
	color:grey;
}
table
{
	border:1px solid black;
	border-collapse: collapse;
	width: 700px;
	text-align: center;
}