body 
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}
input
{
	height: 20px;
	margin: 0;
	font-size: 16px;
	display: block;
	box-sizing: content-box;
	float: left;
	margin: 5px;
	padding: 0 5px;
	width: 150px; 
}
form
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
label
{
	font-size: 20px;
}
h1
{
	text-align: center;
}